.custom-toggler.navbar-toggler {
    border: 2px solid #ffffff;
    color: rgb(255,255,255);
    outline: none;
  }

 

  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
  }

#navbar-brand {
  font-size:23px; 
  font-weight:500;
  border:2px solid #ffffff;
}

#custom-navbar .nav-item .navlink {
  font-size: 18px;
  font-weight: 500;
}

#custom-navbar .nav-item:hover {
  opacity: 0.7;
}